/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Lexend Deca", sans-serif;
  --paint-: #232340;
  --text-color: #f5f5f5;
  --header-text-color: #5468e7;
}
ul {
  list-style: none;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  height: 500px;
  background-color: var(--paint-);
  display: flex;
}
/* left container attributes start */
.left-container {
  width: 168px;
  height: 114px;
  margin: 73px 0px 0px 140px;
}

.left-container p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: var(--text-color);
}
/* left container attributes end */

/* first  start*/

.right-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.right-container h2 {
  width: 112px;
  height: 30px;
  color: var(--header-text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
.right-container ul {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right-container ul li {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 11%;
}
.right-first {
  width: 112px;
  height: 139px;
  margin-top: 95px;
}

.right-second {
  width: 136px;
  height: 174px;
  margin-top: 95px;
}
.right-third {
  width: 138px;
  height: 160px;
  margin-top: 95px;
}
.right-fourth {
  width: 268px;
  height: 125px;
  margin-top: 95px;
  border-radius: 4px;
}
